<div class="modal-dialog">
    <div fxLayout="row" fxLayoutAlign="start center" class="dialog-header">
        <h2 fxFlex class="mat-h2">Delete Symbols from the Basket</h2>
        <button mat-icon-button mat-dialog-close class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="no-padding-bottom">
        <p>The selected symbol(s) below will be deleted from the basket.</p>
        <div class="trading-table height-auto with-padding no-cell-padding table-scroll">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="tickersymbol">
                    <th mat-header-cell *matHeaderCellDef> Ticker Symbol </th>
                    <td mat-cell *matCellDef="let element"> {{element.tickersymbol}} </td>
                </ng-container>

                <ng-container matColumnDef="tickername">
                    <th mat-header-cell *matHeaderCellDef> Ticker Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.tickername}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button>
                            <img src="/assets/images/delete-icon.svg" style="width: 21px; height: 21px;" />
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-stroked-button mat-dialog-close color="primary">
            Cancel
        </button>
        <button mat-flat-button color="primary">
            Delete
        </button>
    </div>
</div>