.trading-table {
    .mat-mdc-cell {
        &.positive-value {
            color: #049501;
        }

        &.negative-value {
            color: #D80032;
        }
    }
}

.right-align-cell {
    text-align: right !important;
}

@media screen and (min-width: 1280px) {
    .primary-sub-section {
        .form-group {
            border-right: 1px solid rgba(0,0,0,.12);

            &:last-child {
                border-right: none;
            }
        }
    }
}