.trade_multiheader_table{
    th.mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell{
        border: 1px solid rgba(0, 0, 0, 0.20);;
    }
}

.trading-table {
    .mat-mdc-cell {
        &.positive-value {
            color: #049501;
        }

        &.negative-value {
            color: #D80032;
        }
    }
}

.right-align-cell {
    text-align: right !important;
}

.trade-prime-section{
    .trade-icon-round{
        border-radius: 50%;
        height: 50px;
        width: 50px;
        position: relative;
        mat-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

.indicator_parent{
    display: flex;
    justify-content: space-between;
    .indicators{
        display: flex;
        gap: 0.3rem;
    }
    
}

.indicator_parent_define{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
    margin-top: 1rem;
    align-items: flex-start;
    .indicators{
        display: flex;
        gap: 0.3rem;
        align-items: center;
    }
    
}

