.trading-table {
    .mat-mdc-cell {
        &.positive-value {
            color: #049501;
        }

        &.negative-value {
            color: #D80032;
        }
    }
}

.right-align-cell {
    text-align: right !important;
}

@media screen and (min-width: 1280px) {
    .primary-sub-section {
        .form-group {
            border-right: 1px solid rgba(0,0,0,.12);

            &:last-child {
                border-right: none;
            }
        }
    }
}

.spinner-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(77, 73, 73, 0.5);
    z-index: 998;
    app-spinner {
        width: 6rem;
        height: 6rem;
    }
}
