<nav class="main-nav" fxLayout="row" fxLayoutAlign="start center">
    <ul fxLayout="row" fxLayoutAlign="start stretch">
        <li>
            <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} fxLayout="column" fxLayoutAlign="center center">Home</a>
        </li>
        <li>
            <a routerLink="/my-basket" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">My Baskets</a>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">Market Place</a>
        </li>
        <li>
            <a routerLink="/contact" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">Accounts</a>
        </li>
    </ul>
</nav>