<div fxFill fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center center">
    <div class="login-wrapper md:min-h-[450px]">
        <div class="bg-pattern-1"></div>
        <div class="login-content">
        <header fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" >
            <h2 fxFlex="initial" class="mat-h2 font-600 mb-0">{{mode == 'forgotPassword' ? 'Enter your email to receive a password reset link' : 'Please set your new password'}}</h2>
        </header>
        <div class="h-line"></div>
        <div fxLayout="column">

            <app-input-text [formGroup]="emailForm" [label]="'Email'" [type]="'email'" [field]="'email'" *ngIf="mode == 'forgotPassword'"></app-input-text>


            <app-input-text [formGroup]="passwordForm" [label]="'Password'" [type]="'password'" [field]="'password'" *ngIf="mode == 'resetPassword'"></app-input-text>

            <div fxLayout="row" fxLayoutAlign="space-between center">
            </div>
        </div>

        <button mat-flat-button color="primary" (click)="sendPasswordResetEmail()" class="login-btn" [disabled]="!utilityService.isFormValid(emailForm)" *ngIf="mode == 'forgotPassword'">Get Reset Link</button>
        <button mat-flat-button color="primary" (click)="resetPassword()" class="login-btn" [disabled]="!utilityService.isFormValid(passwordForm)" *ngIf="mode != 'forgotPassword'">Reset Password</button>

        <p class="signup-link" (click)="login()"><a>Return to login page</a></p>
        </div>
        <div class="hero-wrapper">
            <img class="vector-img" src="../../../assets/images/trading-vector.svg">
            <p class="!font-semibold !m-0 bottom-logo">Angular Trading°</p>
        </div>
        <div class="bg-pattern-2"></div>
    </div>
</div>