* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0px;
}

.main_wrapper{
    padding: 1rem 24px;
    // padding-bottom: 24px;
}

.bg_body{
    background-color: var(--SECOND_ACCENT) !important;
}

.bg_transp{
    background-color: transparent !important;
}

// .color_light{
//     color: var(--DARK_ACCENT);
// }

.color_primary{
    color: var(--PRIMARY_COLOR);
}

.header-search-input {
    .mat-mdc-form-field-infix {
        min-height: 36px;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .mat-mdc-form-field-icon-prefix>.mat-icon, .mat-mdc-form-field-icon-suffix>.mat-icon {
        padding: 0 12px;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}

.form-row {
    margin-left: -10px;
    margin-right: -10px;
  
    .form-group {
      padding-left: 10px;
      padding-right: 10px;
    }
}

.basket-wrapper {
    // padding: 24px;
    .new_basket{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        // padding: 1rem;
    }
    row-gap: 1rem;
    .basket-card {
        // border: 1px solid #CCCCCC;
        // border: 1px solid var(--DARK_ACCENT2);
        // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;        
        border-radius: 4px;
        padding: 20px;
        position: relative;
        // margin-bottom: 20px;
        // color: var(--DARK_ACCENT);
        // height: calc(100% - 20px);
        overflow: hidden;
        &:hover {
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
            
        }
        .like-icon{
            &:hover{
                mat-icon{
                    color: var(--PRIMARY_COLOR);
                }
            }
            mat-icon{
                font-size: 1.2rem;
                color: var(--DARK_ACCENT3) ;
                text-align: end;
            }
        }
        .basket-header {

            h2 {
                margin-bottom: 5px;
                white-space: nowrap;
                overflow: hidden;
                max-width: 85%;
                text-overflow: ellipsis;
                cursor: pointer;
                // color: var(--PRIMARY_COLOR);
                font-weight: 600;
                font-size: 18px;
                // &:hover {
                //     color: var(--DARK_ACCENT);
                // }
            }

            .desc {
                font-size: var(--FONT_12);
                color: var(--DARK_ACCENT);
            }
        }

        .basket-content {
            .acc-no {
                // color: var(--PRIMARY_COLOR);
                font-size: var(--FONT_12);
            }

            .trade-icon {
                width: 24px;
                height: 24px;
            }

            h2 {
                margin-bottom: 0px;
                font-weight: 600;
                padding: 0 10px;
            }

            .price {
                padding: 0 10px;
                border-left: 2px solid var(--DARK_ACCENT2);
            }
            
        }

        .basket-footer {
            margin-top: 10px;

            .invested {
                p {
                    margin: 0px;
                    font-size: 12px;
                }

                h3 {
                    margin-bottom: 0px;
                    // color: var(--DARK);
                    font-size: 1.2rem;
                    font-weight: 500;
                }

                &.market {
                    padding: 0 10px;
                    border-left: 2px solid var(--DARK_ACCENT2);
                }
            }

            .public-chip {
                color: #9F4DB6;
                font-size: 11px;
                border: 1px solid #9F4DB6;
                padding: 0px 10px;
                border-radius: 20px;
                line-height: 18px;

                &.subscribe {
                    color: #0E8115;
                    border: 1px solid #0E8115;
                    cursor: pointer;
                }

                &.unsubscribe {
                    color: #EB5757;
                    border: 1px solid #EB5757;
                    cursor: pointer;
                }
            }
        }

        .basket-profile {
            margin-top: 15px;

            .profile-icon {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-radius: 50%;
                background: #fff;
                padding: 1px;

                img {
                    max-width: 35px;
                    max-height: 35px;
                    border-radius: 50%;
                }
            }

            .profile-info {
                padding: 0 8px;

                p {
                    margin: 0px;
                    font-size: 12px;
                    line-height: 14px;
                }

                h2 {
                    margin-bottom: 0px;
                    font-size: 18px;
                }

                &.accounts {
                    border-left: 1px solid var(--DARK_ACCENT2);
                    border-right: 1px solid var(--DARK_ACCENT2);
                }
            }
        }

        .more-btn {
            position: absolute;
            top: 10px;
            right: 5px;
            width: 40px;
            height: 40px;
            padding: 8px;

            .mat-icon {
                font-size: 21px;
                line-height: 24px;
                color: var(--DARK_ACCENT3);
            }
        }

        &.trade-down, &.trade-up, &.trade-stable {
            &::before {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                height: 5px;
                background: var(--RED);
                // border-bottom-left-radius: 8px;
                // border-bottom-right-radius: 8px;
            }
        }

        &.trade-down {
            &::before {
                background: var(--RED);
            }

            .trade-icon {
                background: url(../images/trade-down-new.svg) no-repeat;
            }

            .basket-content {
                h2, .price {
                    color: var(--RED);
                }
            }
        }

        &.trade-up {
            &::before {
                background: var(--GREEN);
            }

            .trade-icon {
                background: url(../images/trade-up-new.svg) no-repeat;
            }

            .basket-content {
                h2, .price {
                    color: var(--GREEN);
                }
            }
        }

        &.trade-stable {
            &::before {
                background: var(--PRIMARY_COLOR);
            }

            .trade-icon {
                background: url(../images/trade-stable-new.svg) no-repeat;
            }

            .basket-content {
                h2, .price {
                    color: var(--PRIMARY_COLOR);
                }
            }
        }
    }
}

.custom-modal {
    width: 600px;
}

.custom-modal-lg {
    width: 960px;
}

.modal-dialog {
    .dialog-header {
        padding: 20px 24px 0 24px;

        .mat-h2 {
            margin-bottom: 0px;
            color: var(--PRIMARY_COLOR);
        }

        .close-btn {
            width: 32px;
            height: 32px;
            padding: 4px;

            .mat-icon {
                font-size: 19px;
                line-height: 24px;
            }
        }
    }

    .mat-mdc-dialog-content {
        &.no-padding-bottom {
            padding-bottom: 0px;
        }
    }

    .dialog-footer {
        padding: 20px 24px;
    }
}

.basket-sidebar {
  
    .main-nav {
      margin: 1px 0px;
      padding: 0px;
  
      li {
        list-style: none;
  
        a {
          padding: 14px;
          cursor: pointer;
        //   color: #333;
          text-decoration: none;

          &.active {
              background: var(--PRIMARY_COLOR);
              color: white;
          }
        }
      }
    }
}

.breadcrumb {

    // &.with-bg {
    //     background: #fbfbfb;
    // }

    // &.with-border {
    //     border-bottom: 1px solid #eee;
    // }

    a {
        text-decoration: none;
        // color: #333;
        font-size: 13px;

        &:hover {
            color: var(--PRIMARY_COLOR);
        }

        &.bold {
            font-weight: 600;
        }
    }
}

.primary-sub-section {
    background: var(--SECONDARY_COLOR);
    padding: 1rem 24px;
}

.primary-sub-section-white {
    background: var(--WHITE);
    padding: 1rem 24px;
}
.trading-table {
    .mat-mdc-table {
        .mat-mdc-row{
            transition: 0.3s ease;
        }
        // border: 1px solid rgba(0, 0, 0, 0.12);
        border: 0;
        .mat-mdc-header-cell, .mat-mdc-footer-cell, .mat-mdc-cell {
            // border-left: 1px solid rgba(0, 0, 0, 0.12);
            border: 0;
            &:first-child {
                border-left: none;
            }
        }

        .mat-mdc-footer-cell {
            border-top: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
    .mat-mdc-header-row {
        // background: var(--PRIMARY_COLOR);
        // color: var(--WHITE);
        
        .mat-mdc-header-cell {
            font-weight: 600;
            font-size: 13px;
            text-transform: uppercase;
            .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
                border-color: var(--WHITE);
            } 
        }
    }
    

    // tr.mat-mdc-row.mdc-data-table__row.cdk-row:nth-child(even){
    //     background-color: var(--BODY_BG);
    // }

    // .mat-mdc-footer-cell, .mat-mdc-cell.with-blue-bg {
    //     background: var(--SECONDARY_COLOR);
    // }   
    
    // .mat-mdc-cell.with-grey-bg {
    //     background: #F5F5F5;
    // }   

    // &.height-auto {
    //     .mat-mdc-header-row, .mat-mdc-footer-row, .mat-mdc-row {
    //         height: auto;
    //     }
    // }

    &.with-padding {
        .mat-mdc-header-row .mat-mdc-header-cell, .mat-mdc-footer-cell, .mat-mdc-cell {
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }

    &.no-cell-padding {
        .mat-mdc-cell {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }

    a {
        color: var(--PRIMARY_COLOR);
    }
}

.slide-panel {
    background-color: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1001;
  
    &.panel-md {
      width: 500px;
    }
  
    &.panel-lg {
      width: 960px;
    }
}

.trade-info {
    // background: #CEE0FA;
    padding: 8px 15px;
    border-radius: 4px;
}

.trading-table {
    &.trade-c-table {
        overflow: auto;

        .mat-column-selecthide, .mat-column-select {
            padding: 0px;
        }
        .mat-column-symbolhide, .mat-column-symbol {
            min-width: 160px;
            max-width: 160px;
        }
        .mat-column-purchasedatehide, .mat-column-purchasedate {
            min-width: 130px;
            max-width: 130px;
        }
        .mat-column-pricehide, .mat-column-price {
            min-width: 120px;
            max-width: 120px;
        }
    }
}

.mat-mdc-menu-panel.notification-menu {
    width: 330px;
    min-width: unset;
    max-width: unset;
    border-radius: 5px;
    // box-shadow: #959da533 0 3px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5px;
    max-height: 335px;

    .menu-header {
        border-radius: 5px 5px 0 0;
        padding: 15px;
        font-size: 18px;
        border-bottom: 1px solid var(--DARK_ACCENT2);

        .count {
            width: 20px;
            height: 20px;
            background: var(--GREEN);
            border-radius: 50%;
            color: var(--WHITE);
            font-size: 12px;
            font-weight: normal;
        }
    }

    .menu-body {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        li {
            border-bottom: 1px solid var(--DARK_ACCENT2);
            padding: 15px;
            cursor: pointer;

            &:hover {
                background: var(--SECOND_ACCENT);
            }

            &:last-child {
                border-bottom: none;
            }

            .profile-img {
                max-width: 30px;
                max-height: 30px;
                border-radius: 50%;
            }

            p {
                margin: 0px;
            }

            &.unread {
                background: var(--DARK_ACCENT2);
            }
        }
    }
}

.following-box {
    box-shadow: rgba(0, 0, 0, 0.10) 0 3px 15px;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 40px 15px 20px 15px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
    position: relative;

    &:hover {
        transform: scale(1.05);
        
    }

    .profile-icon {
        border-radius: 50%;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, 0);

        img {
            max-width: 60px;
            max-height: 60px;
            border-radius: 50%;
        }
    }

    .mat-h3 {
        margin-bottom: 0px !important;
    }

    .doj {
        font-size: 12px;
        opacity: .5;
    }

    .follower-tab {
        padding: 0 15px;
        border-left: 1px solid #eee;

        &:first-child {
            border-left: none;
        }

        p {
            margin-bottom: 0px;
            opacity: .75;
        }
    }

    .unfollow-btn {
        background: var(--WHITE);
        color: var(--RED);
        border: 2px solid var(--RED);
        font-size: 12px;
        font-weight: 600;
        padding: 3px 16px;
        border-radius: 20px;
        line-height: 18px;
        cursor: pointer;
        position: absolute;
        bottom: -14px;
        left: 50%;
        transform: translate(-50%, 0);

        &:hover {
            background: #fff6f6;
        }
    }
}

.txt_green{
    color: var(--GREEN);
}
.txt_red{
    color: var(--RED);
}

.profile-info-border {
    .profile-info {
        border-left: 2px solid var(--DARK_ACCENT2);

        &:first-child {
            border-left: none;
        }
    }
}

// .iconDark{
//     color: var(--DARK);
// }

.iconUp{
    transform: rotate(-90deg);
    color: var(--GREEN);
    vertical-align: middle;
    font-size: 1.7rem;
}
.iconDown{
    transform: rotate(90deg) translateX(-4px);
    color: var(--RED);
    vertical-align: middle;
    font-size: 1.7rem;
}

.card_btn{
    border-radius: 20px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    max-height: 25px !important;
    padding: 0 1rem !important;
    min-width: 100px !important;
}

.btn_subscribe{
    border: 1px solid var(--GREEN) !important;
    color: var(--GREEN) !important;  
}

.btn_public{
    border: 1px solid var(--PRIMARY_COLOR) !important;
    color: var(--PRIMARY_COLOR) !important;  
}

.btn_unsubscribe{
    border: 1px solid var(--RED) !important;
    color: var(--RED) !important;   
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background-color: var(--PRIMARY_COLOR);
    outline: 1px solid var(--PRIMARY_COLOR);
}


@media screen and (min-width: 600px) {
    .basket-sidebar {
        border-right: 1px solid #ccc;
        width: 220px;
    }
}

@media screen and (max-width: 599px) {
    .basket-wrapper {
        padding: 15px;

        .filter-input {
            margin-bottom: 10px;
        }
    }

    .custom-modal, .custom-modal-lg {
        width: 80%;
    }

    .basket-sidebar {
        border-bottom: 1px solid #ccc;
    }
}

@media screen and (max-width: 959px) {
    .slide-panel {
      
        &.panel-md {
          width: 90%;
        }
      
        &.panel-lg {
          width: 90%;
        }
    }

    .custom-modal-lg {
        width: 80%;
    }

    .table-scroll {
        width: 100%;
        overflow: auto;
    
        .mat-mdc-header-cell,
        .mat-mdc-footer-cell,
        .mat-mdc-cell {
          min-width: 120px;
        }
    }
}

@media screen and (max-width: 399px) {
    .main-nav ul li a {
        padding: 0 6px !important;
    }
}