<div class="modal-dialog">
    <div mat-dialog-content class="no-padding-bottom" fxLayout="column" fxLayoutAlign="center center">
        <p class="pt-20 font-600">You will be redirected to TradeStation website. You need to login to your Tradestation account to link it with Angular Trading. Once you have linked your account you will be able to place orders from Angular Trading into your TradeStation Account.</p>
    </div>
    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-stroked-button mat-dialog-close color="primary">
            Cancel
        </button>
        <a *ngIf="brokerageURl" href="{{brokerageURl}}" ><button mat-flat-button mat-dialog-close color="primary">
            OK
        </button></a>
        <button *ngIf="!brokerageURl" mat-flat-button mat-dialog-close color="primary">
            OK
        </button>
    </div>
</div>