<div class="modal-dialog">
    <div fxLayout="row" fxLayoutAlign="start center" class="dialog-header">
        <h2 fxFlex class="mat-h2">Create Basket</h2>
        <button mat-icon-button mat-dialog-close class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="no-padding-bottom">
        <form class="example-form" [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Basket Name</mat-label>
                <input matInput class="form-control" formControlName="name">
                <mat-error *ngIf="isControlValid('name')">{{getErrorMessage('name')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput class="form-control" formControlName="description">
                <mat-error *ngIf="isControlValid('description')">{{getErrorMessage('description')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Action Type</mat-label>
                <mat-select [(value)]="selectedOption" class="form-control" formControlName="action">
                    <mat-option value="create">Create New Basket</mat-option>
                    <mat-option value="clone">Clone Existing Basket</mat-option>
                </mat-select>
                <mat-error *ngIf="isControlValid('action')">{{getErrorMessage('action')}}</mat-error>
            </mat-form-field>
            <ng-container *ngIf="selectedOption === 'clone'">
                <mat-form-field appearance="outline">
                    <mat-label>Basket</mat-label>
                    <mat-select >
                        <mat-option *ngFor="let basket of baskets" value="basket.id">{{basket.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
        </form>
    </div>
    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-stroked-button mat-dialog-close color="primary">
            Cancel
        </button>
        <button mat-flat-button color="primary" [disabled]="!isFormValid()" (click)="createBasket()">
            Create
        </button>
    </div>
</div>