<div class="modal-dialog">
    <div fxLayout="row" fxLayoutAlign="start center" class="dialog-header">
        <h2 fxFlex class="mat-h2">Create Basket</h2>
        <button mat-icon-button mat-dialog-close class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="no-padding-bottom">
        <form class="example-form">
            <mat-form-field appearance="outline">
                <mat-label>Basket Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Action Type</mat-label>
                <mat-select [(value)]="selectedOption">
                    <mat-option value="option1">Create New Basket</mat-option>
                    <mat-option value="option2">Clone Existing Basket</mat-option>
                </mat-select>
            </mat-form-field>
            <ng-container *ngIf="selectedOption === 'option2'">
                <mat-form-field appearance="outline">
                    <mat-label>Basket</mat-label>
                    <mat-select>
                        <mat-option value="option1">Basket 1</mat-option>
                        <mat-option value="option2">Basket 2</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
        </form>
    </div>
    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-stroked-button mat-dialog-close color="primary">
            Cancel
        </button>
        <button mat-flat-button color="primary">
            Create
        </button>
    </div>
</div>