.trading-table {
    .mat-mdc-cell {
        &.positive-value {
            color: #049501;
        }

        &.negative-value {
            color: #D80032;
        }
    }
}

.right-align-cell {
    text-align: right !important;
}