<div class="modal-dialog">
    <div fxLayout="row" fxLayoutAlign="start center" class="dialog-header">
        <h2 fxFlex class="mat-h2">{{data.header}}</h2>
        <button mat-icon-button mat-dialog-close class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="no-padding-bottom">
        <form class="example-form" [formGroup]="form">
            <app-input-text [formGroup]="form" [label]="'Which brokerage do you use?'" [field]="'brokerageName'"></app-input-text>

            <div fxLayout="row wrap" fxLayoutAlign="start center" class="form-row">

                <div fxFlex="100" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column" class="form-group pb-10">
                    <span>Is the website easy to use?</span>
                    <mat-radio-group aria-label="Select an option" color="primary" formControlName="isWebsiteEasy">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <app-input-text [formGroup]="form" [label]="'What do you like about our website?'" [type]="'textarea'" [field]="'featuresLiked'"></app-input-text>

            <app-input-text [formGroup]="form" [label]="'What do you like to see in our website?'" [type]="'textarea'" [field]="'featuresWanted'"></app-input-text>

            <app-input-text [formGroup]="form" [label]="'Do you have any other suggestions for us?'" [type]="'textarea'" [field]="'suggestions'"></app-input-text>


        </form>
    </div>
    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-stroked-button mat-dialog-close class="secondary-btn">
            {{mode == 'CREATE' ? 'Cancel' : 'Close'}}
        </button>
        <button mat-flat-button color="primary" (click)="submitFeedback()" *ngIf="mode == 'CREATE'">
            Submit
        </button>
    </div>
</div>