.demo-table {
    width: 100%;
  }

  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }

  .demo-row-is-clicked {
    font-weight: bold;
  }

.profile-icon {
    max-width: 32px;
    max-height: 32px;
    object-fit: contain;
}

.panel-button {
    margin-bottom: -80px;
    padding-left: 20px;
}

th.mat-sort-header-sorted {
  color: black;
}

.trading-table {
  .mat-mdc-cell {
      &.positive-value {
          color: #049501;
      }

      &.negative-value {
          color: #D80032;
      }
  }
}

.search-input {
  padding-right: 20px;
}

.highlight-green {
  background-color: lightgreen;
}

.highlight-red {
  background-color: crimson;
}

.trading-table {
  .mat-mdc-cell {
    &.positive-value {
      color: #049501;
    }

    &.negative-value {
      color: #D80032;
    }
  }
}

.trade_multiheader_table{
  th.mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell{
    border: 1px solid rgba(0, 0, 0, 0.20);;
  }
}

.right-align-cell {
  text-align: right !important;
}
