<div fxLayout fxLayoutAlign="end center" class="mt-10">

    <mat-form-field appearance="outline" fxFlex="25" fxFlex.sm="40" fxFlex.xs="60" *ngIf="enableSearch">
        <input matInput placeholder="{{searchText}}" [(ngModel)]="search" (ngModelChange)="getData()">
        <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
</div>
<div class="trading-table height-auto table-scroll pt-15"><!-- trading-table height-auto table-scroll  -->
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" matSortActive="{{sortColumn}}" [matSortDirection]="sortMode" matSortDisableClear>
        <ng-container matColumnDef="{{column.key}}" *ngFor="let column of columnDetails">
            <div *ngIf="column.type == 'image'">
                <th mat-header-cell *matHeaderCellDef> {{column.label}} </th>
                <td mat-cell *matCellDef="let element"><img src="{{element.profilePhoto}}" class="profile-icon" [hidden]="!element.profilePhoto"/></td>
            </div>
            <!-- Checkbox Column -->
            <div *ngIf="column.type == 'select'">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null" color="primary"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" color="primary"
                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </div>

            <!-- Menu Column -->
            <div *ngIf="column.type == 'menu'">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" color="primary"
                        (click)="$event.stopPropagation()">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [matMenuTriggerFor]="subMenu">{{column.mainMenuOption}}</button>
                    </mat-menu>

                    <mat-menu #subMenu="matMenu">
                        <button mat-menu-item *ngFor="let item of column.subMenuOptions" (click)="column.menuCallback(element, dataCallbackOptionalParameter)">{{item.name}}</button>
                    </mat-menu>
                </td>
            </div>

            <div *ngIf="column.type != 'image' && column.type != 'select'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name"> {{column.label}} </th>
                <td mat-cell *matCellDef="let element"> {{column.type == 'date' ?  (element[column.key] | date) : (column.type == 'currency' ? (element[column.key] | currency:'USD':'symbol':'1.2-2')  : element[column.key])}} </td>
            </div>

        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowCallback(row)"></tr>
    </table>
    <mat-paginator #paginator
        (page)="handlePageEvent($event)"
        [length]="pagination.totalRows"
        [pageSize]="pagination.pageSize"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[10, 50, 100]"
        [pageIndex]="pagination.pageNumber"
        aria-label="Select page of data">
    </mat-paginator>
</div>