<div class="modal-dialog">
    <div fxLayout="row" fxLayoutAlign="start center" class="dialog-header">
        <h2 fxFlex class="mat-h2">Delete Basket</h2>
        <button mat-icon-button mat-dialog-close class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="no-padding-bottom">
        <p>You are deleting the basket {{data.name}}</p>
        <form class="example-form">
            <mat-form-field appearance="outline">
                <mat-label>Enter name of basket to delete</mat-label>
                <input matInput [(ngModel)]="basketName" name="basket_name">
            </mat-form-field>
        </form>
    </div>
    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-stroked-button mat-dialog-close color="primary">
            Cancel
        </button>
        <button mat-flat-button color="primary" (click)="deleteBasket()" [disabled]="basketName != data.name">
            Delete Basket
        </button>
    </div>
</div>