<div class="modal-dialog">
    <div fxLayout="row" fxLayoutAlign="start center" class="dialog-header">
        <h2 fxFlex class="mat-h2">{{data.header}}</h2>
        <button mat-icon-button mat-dialog-close class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="no-padding-bottom">
        <form class="example-form" [formGroup]="form">
            <app-input-text [formGroup]="form" [label]="'First Name'" [field]="'firstName'"></app-input-text>

            <app-input-text [formGroup]="form" [label]="'Last Name'" [field]="'lastName'"></app-input-text>

            <app-input-text [formGroup]="form" [label]="'Email'" [field]="'email'"></app-input-text>

            <app-input-text [formGroup]="form" [label]="'Password'" [field]="'password'" [hidden]="!showPassword()" [type]="'password'"></app-input-text>

            <div *ngIf="!data.user.isSuperAdmin">
              <mat-checkbox formControlName="loginLocked" *ngIf="mode == 'EDIT'">Block Login</mat-checkbox>

              <p>Role</p>
              <mat-button-toggle-group name="roles" aria-label="Roles" formControlName="roles">
                <mat-button-toggle value="trader">Trader</mat-button-toggle>
                <mat-button-toggle value="admin">Admin</mat-button-toggle>
              </mat-button-toggle-group>
              <br>
            </div>
            <br>
            <p>Login Provider</p>
            <mat-button-toggle-group label="Login Provider" name="authenticationProvider" aria-label="Login Provider" formControlName="authenticationProvider">
                <mat-button-toggle value="angularTrading">Angular Trading</mat-button-toggle>
                <mat-button-toggle value="google">Google</mat-button-toggle>
                <mat-button-toggle value="linkedin">LinkedIn</mat-button-toggle>
            </mat-button-toggle-group>

        </form>
    </div>
    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-stroked-button mat-dialog-close color="primary">
            Cancel
        </button>
        <button mat-flat-button color="primary" [disabled]="!utilityService.isFormValid(form)" (click)="createUser()">
            {{ mode == 'EDIT' ? 'Update' : 'Create'}}
        </button>
    </div>
</div>
