<header fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="initial" fxLayout="row" fxLayoutAlign="start center" class="logo-wrapper">
        <div fxHide.gt-xs class="hamber">
            <img src="assets/images/hamburger.svg" />
        </div>
        <div class="logo">
            <img src="assets/images/logo.png" />
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <div fxHide.xs class="header-search-input">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Search">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button (click)="feedbackDialog()" class="feedback-btn">
                <img src="/assets/images/feedback-icon.svg" />
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="notification-btn">
                <img src="/assets/images/notification-icon.svg" />
            </button>
            <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false" class="notification-menu">
                <div class="menu-header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <span>Notifications</span>
                    <span fxLayout="column" fxLayoutAlign="center center" class="count">{{newNotificationCount}}</span>
                </div>
                <ul class="menu-body">
                    <li class="unread" *ngFor="let notification of notifications">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                            <img src="{{notification.publisher_image}}" class="profile-img" />
                            <p><span class="font-600">{{notification.publisher_name}}</span> {{notification.subject}}</p>
                        </div>
                    </li>
                </ul>
            </mat-menu>
            <div fxLayout="column" fxLayoutAlign="center center" class="avatar">
                {{user.firstName ? (user.firstName[0] + user.lastName[0]) : ""}}
            </div>
            <button mat-button [matMenuTriggerFor]="beforeMenu" class="profile-menu">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <span fxHide.xs class="profile-name">{{user.displayName}}</span>
                    <mat-icon>expand_more</mat-icon>
                </div>
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="myProfile()">
                    <mat-icon>person</mat-icon>
                    <span>My Profile</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Sign Out</span>
                </button>
            </mat-menu>
        </div>
    </div>
</header>