<header fxLayout="row" fxLayoutAlign="start center" class="bg-inverse border-bottom-sleek header-top">
    <div fxFlex="initial" fxLayout="row" fxLayoutAlign="start center" class="logo-wrapper">
        <div fxHide.gt-xs class="hamber">
            <img src="assets/images/hamburger.svg" />
        </div>
        <div class="logo">
            <img alt="logo" />
            <!-- <h1 class="!font-semibold !m-0">Angular Trading°</h1> -->
            <p class="version-badge mb-0 !mt-[2px]">Beta 1.0</p>
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <div fxHide.xs class="header-search-input">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Search">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button (click)="feedbackDialog()" class="feedback-btn">
                <!-- <img src="/assets/images/feedback-icon.svg" /> -->
                <mat-icon
                class="material-symbols-rounded text-dark"
                      aria-hidden="true"
                      aria-label="material-symbols-rounded"
                      fontIcon="chat"
                    ></mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="{{newNotificationCount > 0 ? 'notification-btn-new-message' : 'notification-btn'}} ">
                <!-- <img src="/assets/images/notification-icon.svg" /> -->
                <mat-icon
                class="material-symbols-rounded text-dark"
                      aria-hidden="true"
                      aria-label="material-symbols-rounded"
                      fontIcon="notifications_outline"
                    ></mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false" class="notification-menu">
                <div class="menu-header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <span>Notifications</span>
                    <span fxLayout="column" fxLayoutAlign="center center" class="count">{{newNotificationCount}}</span>
                </div>
                <ul class="menu-body">
                    <li class="unread" *ngFor="let notification of notifications">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" (click)="notificationNavigate(notification)">
                            <img src="{{notification.publisher_image}}" class="profile-img" />
                            <p><img src="assets/images/new-added-badge.svg" *ngIf="!notification.notification_viewed"/><span class="font-600"> {{notification.publisher_name}}</span> {{notification.subject}}.  {{notification.notification_data.substring(0, 75) + (notification.notification_data.length > 75 ? '...' : '')}}</p>
                        </div>
                    </li>
                </ul>
            </mat-menu>
            <div fxLayout="column" fxLayoutAlign="center center" class="avatar">
                {{user.firstName ? (user.firstName[0] + (user.lastName ? user.lastName[0] : "")) : ""}}
            </div>
            <button mat-button [matMenuTriggerFor]="beforeMenu" class="profile-menu">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <span fxHide.xs class="profile-name text-dark">{{user.displayName}}</span>
                    <mat-icon>expand_more</mat-icon>
                </div>
            </button>

            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="myProfile()">
                    <mat-icon>person</mat-icon>
                    <span>My Profile</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Sign Out</span>
                </button>
            </mat-menu>
        </div>
    </div>
</header>
<!-- <nav class="main-nav" fxLayout="row" fxLayoutAlign="start center" *ngIf="!user.roles || !user.roles.includes('admin')"> -->
    <mat-toolbar  class="main-nav bg-primary" fxLayout="row" fxLayoutAlign="start center" *ngIf="!user.roles || !user.roles.includes('admin')">

    <ul fxLayout="row" fxLayoutAlign="start stretch">
        <li>
            <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} fxLayout="column" fxLayoutAlign="center center">Home</a>
        </li>
        <li>
            <a routerLink="/baskets" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">Baskets</a>
        </li>
        <li>
            <a routerLink="/marketplace" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">Marketplace</a>
        </li>
        <li>
            <a routerLink="/brokerage" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">Brokerage</a>
        </li>
        <li>
            <a routerLink="/following" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">Following</a>
        </li>
        <li>
            <a routerLink="/order" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">Orders</a>
        </li>
    </ul>
    <mat-button-toggle-group (change)="changeTheme($event.value)" class="theme_btn_toggle" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle checked value="light">Light</mat-button-toggle>
        <mat-button-toggle value="dark">Dark</mat-button-toggle>
    </mat-button-toggle-group>
</mat-toolbar>

<!-- <</nav> -->

<!--  <nav class="main-nav" fxLayout="row" fxLayoutAlign="start center" *ngIf="user.roles && user.roles.includes('admin')"> -->
    <mat-toolbar  class="main-nav bg-primary" fxLayout="row" fxLayoutAlign="start center"  *ngIf="user.roles && user.roles.includes('admin')">

    <ul fxLayout="row" fxLayoutAlign="start stretch">
        <li>
            <a routerLink="/admin/users" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} fxLayout="column" fxLayoutAlign="center center">Users</a>
        </li>
        <li>
            <a routerLink="/admin/announcements" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">Announcements</a>
        </li>
        <li>
            <a routerLink="/admin/feedback-form" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">Feedback</a>
        </li>
      <li>
        <a routerLink="/admin/brokerages" routerLinkActive="active" fxLayout="column" fxLayoutAlign="center center">Brokerages</a>
      </li>
    </ul>

</mat-toolbar>
