<div class="modal-dialog">
    <div fxLayout="row" fxLayoutAlign="start center" class="dialog-header">
        <h2 fxFlex class="mat-h2">Clone {{data.name}}</h2>
        <button mat-icon-button mat-dialog-close class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="no-padding-bottom">
        <form class="example-form">
            <mat-form-field appearance="outline">
                <mat-label>New Basket Name</mat-label>
                <input matInput [(ngModel)]="basketName" name="basket_name">
            </mat-form-field>
        </form>
    </div>
    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-stroked-button mat-dialog-close class="secondary-btn">
            Cancel
        </button>
        <button mat-flat-button class="primary-btn"  (click)="cloneBasket()" [disabled]="!basketName">
            Clone Basket
        </button>
    </div>
</div>