<!-- Remove from Marketplace -->
<div class="modal-dialog"  *ngIf="!data.basket.public">
    <div fxLayout="row" fxLayoutAlign="start center" class="dialog-header">
        <h2 fxFlex class="mat-h2">Would you like to turn off market place?</h2>
        <button mat-icon-button mat-dialog-close class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="no-padding-bottom">
        <p>The chosen time slot is unavailable. Please select an available time slot and click 'Confirm' to proceed, or click 'Cancel' to make a new request from the home page. The chosen time slot is unavailable. Please select an available time slot and click 'Confirm' to proceed, or click 'Cancel' to make a new request from the home page.</p>
        <div class="check">
            <mat-checkbox color="primary" [(ngModel)]="termsAgreed">I accept above terms & conditions.</mat-checkbox>
        </div>
    </div>
    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-stroked-button mat-dialog-close color="primary">
            Cancel
        </button>
        <button mat-flat-button color="primary" [disabled]="!termsAgreed" (click)="updateBasket()">
            Remove from Marketplace
        </button>
    </div>
</div>
<!-- Publish to Marketplace -->
<div class="modal-dialog" *ngIf="data.basket.public">
    <div fxLayout="row" fxLayoutAlign="start center" class="dialog-header">
        <h2 fxFlex class="mat-h2">Terms & Conditions</h2>
        <button mat-icon-button mat-dialog-close class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="no-padding-bottom">
        <p>The chosen time slot is unavailable. Please select an available time slot and click 'Confirm' to proceed, or click 'Cancel' to make a new request from the home page. The chosen time slot is unavailable. Please select an available time slot and click 'Confirm' to proceed, or click 'Cancel' to make a new request from the home page.The chosen time slot is unavailable. Please select an available time slot and click 'Confirm' to proceed, or click 'Cancel' to make a new request from the home page.The chosen time slot is unavailable. Please select an available time slot and click 'Confirm' to proceed, or click 'Cancel' to make a new request from the home page.The chosen time slot is unavailable. Please select an available time slot and click 'Confirm' to proceed, or click 'Cancel' to make a new request from the home page ke a new request from the home page. d click 'Confirm' to proceed, or click 'Cancel' to make a new request</p>
        <div class="check">
            <mat-checkbox color="primary" [(ngModel)]="termsAgreed">I accept above terms & conditions.</mat-checkbox>
        </div>
    </div>
    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-stroked-button mat-dialog-close color="primary">
            Cancel
        </button>
        <button mat-flat-button color="primary" [disabled]="!termsAgreed"(click)="updateBasket()">
            Publish to Marketplace
        </button>
    </div>
</div>