<div class="modal-dialog">
    <div fxLayout="row" fxLayoutAlign="start center" class="dialog-header">
        <h2 fxFlex class="mat-h2">{{data.header}}</h2>
        <button mat-icon-button mat-dialog-close class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>

<div class="basket-wrapper">
    <div fxLayout="row" class="mt-20">
        <mat-form-field appearance="outline" fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
            <mat-label>Select Brokerage</mat-label>
            <mat-select [(value)]="selectedBrokerId">
                <mat-option *ngFor="let broker of brokerMaster" [value]="broker" (click)="getBrokerAccounts()">{{broker.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="trading-table height-auto table-scroll with-padding">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>

                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" color="primary"
                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="account_number">
                <th mat-header-cell *matHeaderCellDef> Account Number </th>
                <td mat-cell *matCellDef="let element">
                    {{element.account_number}}
                </td>
            </ng-container>

            <ng-container matColumnDef="accountBalance">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Account Balance </th>
                <td mat-cell *matCellDef="let element" class="text-right"> {{element.accountBalance  | currency:'USD':'symbol':'1.2-2' }} </td>
            </ng-container>
            <!--
            <ng-container matColumnDef="openPositions">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Open Positions </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.openPositions}} </td>
            </ng-container>
            -->


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <!--
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
    -->

    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-stroked-button mat-dialog-close color="primary">
            Cancel
        </button>

        <button mat-flat-button color="primary" [disabled]="!selection.selected.length" (click)="updateBasket()">
            {{data.mode == 'ADD' ? 'Link Account' : 'Delete'}}
        </button>

    </div>
</div>