.dashboard-widget {
  .mat-h3 {
    margin-bottom: 10px !important;
  }  
}

.basket_dashboard_module{
  // background-color: var(--SECOND_ACCENT);
  gap: 1rem;

  .top_cards_parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    .card_basket_symbol{
      width: 90px;
      height: 90px;
      // background-color: var(--PRIMARY_ACCENT);
      border-radius: 50%;
      // border: 2px solid var(--PRIMARY_COLOR);
      
      .icon_symbol{
        font-size: 2rem;
        // color: var(--DARK_ACCENT);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      
    }
    
    .card_basket_text{
      .maintext,.subtext{
        margin: 0;
        text-align: end;
      }
      .maintext{
        font-size: 1.3rem;
      }
      .subtext{
        color: var(--DARK_ACCENT);
      }
    }
    // .card_basket_symbol{
    //   background-color: var(--PRIMARY_ACCENT);
    //   border: 2px solid var(--DARK_ACCENT);
    // }
    
    // mat-card:nth-child(1){
    //   .card_basket_symbol{
    //     background-color: var(--PRIMARY_ACCENT);
    //     border: 2px solid var(--DARK_ACCENT);
    //   }
    // }
    // mat-card:nth-child(2){
    //   .card_basket_symbol{
    //     background-color: var(--PRIMARY_ACCENT);
    //     border: 2px solid var(--DARK_ACCENT);
    //   }
    // }
    // mat-card:nth-child(3){
    //   .card_basket_symbol{
    //     background-color: var(--PRIMARY_ACCENT);
    //     border: 2px solid var(--DARK_ACCENT);
    //   }
    // }
    // mat-card:nth-child(4){
    //   .card_basket_symbol{
    //     background-color: var(--PRIMARY_ACCENT);
    //     border: 2px solid var(--DARK_ACCENT);
    //   }
    // }
  }

  .graph_parent{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    margin-top: 1rem;

    .content_bellow{
      .txt_bellow{
        font-size: 1.1rem;
        // font-weight: 600;
        text-align: center;
        color: var(--DARK_ACCENT);
        margin-bottom: 0.8rem;
      }
      .txt_bellow_big{
        font-size: 1.8rem;
        text-align: center;
        // color: var(--DARK);
        margin-bottom: 1.5rem;
      }
      .txt_bellow_medium{
        font-size: 1.5rem;
        text-align: center;
        // color: var(--DARK);
        margin-bottom: 1.5rem;
      }
      .txt_bellow_light{
        font-size: 0.9rem;
        text-align: center;
        color: var(--DARK_ACCENT);
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
      }
    }
    
    .line_chart{
      svg,div{
        width: 100%;
      }
    }

    .donut_grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }
  }

  .performing_table_parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem 0;

    .top_performing_table{
      border: none ;
      border-color: rgba(0,0,0,0.12);
      border-left: 0;
      td,th{
        // border-left: 1px solid rgba(0,0,0,0.12);
        border: none ;
      }
    }

    .least_performing_table{
      border: none;
      td, th{
        border: none;
      }
    }

  }

  

  .last_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .News_parent{
      padding: 1rem;
      .news_card_wrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        .news_card{
          position: relative;
          min-height: 150px;
          margin-bottom: 1rem;
          .symbol{
            border-radius: 50%;
            position: absolute;
            width: 40px;
            height: 40px;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--WHITE);
            border: 2px solid var(--DARK_ACCENT);
            text-align: center;
            
            img{
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              color: var(--DARK_ACCENT);
              width: 100%;
              height: 100%;
              // border-radius: 50%;
              object-fit: contain;
              padding: 5px;
            }
          }
          .news{
            margin-top: 1rem;
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .last_row_news{
            bottom: 0;
            position: absolute;
            width: 100%;
            left: 0;
            padding: 1rem;
            color: var(--DARK_ACCENT);
            a{
              text-decoration: underline;
            }
          }
        }
      }
    }

    .updates_parent{
      mat-card{
        // background-color: var(--WHITE);
        ::-webkit-scrollbar {
          width: 0 !important;
        }
        /* Track */
        ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px var(--BODY_BG); 
          border-radius: 10px;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: var(--PRIMARY_ACCENT); 
          border-radius: 10px;
          max-height: 1rem;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: var(--DARK); 
        }
        .scroll{
          max-height: 500px;
          overflow-y: scroll;

          
        }
        .timeline{
          position: relative;
          margin: 1rem auto;
          z-index: 0;
          &::after{
            content: '';
            position: absolute;
            width: 2px;
            height: 100%;
            background: var(--PRIMARY_COLOR);
            top: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
            animation: moveline 4s linear forwards;
          }

          @keyframes moveline {
            0%{
              height: 0;
            }
            100%{
              height: 100%;
            }
          }

          .container{
            padding: 1rem 2rem;
            position: relative;
            width: 50%;
            // background-color: var(--DARK_ACCENT);
            animation: movedown 1s linear forwards;
            opacity: 0;

            @keyframes movedown {
              0%{
                opacity: 1;
                transform: translateY(-30px);
              }
              100%{
                opacity: 1;
                transform: translateY(0);
              }
            }
            &:nth-child(1){
              animation-delay: 0s;
            }
            &:nth-child(2){
              animation-delay: 1s;
            }
            &:nth-child(3){
              animation-delay: 2s;
            }
            &:nth-child(4){
              animation-delay: 3s;
            }
            &:nth-child(5){
              animation-delay: 4s;
            }

            .textbox{
              background-color: var(--PRIMARY_COLOR);
              box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
              // border: 2px solid var(--PRIMARY_COLOR);
              padding: 1rem 2rem;
              position: relative;
              border-radius: 6px; 
              font-size: 1rem;

              h3{
                font-weight: 600;
                font-size: 1.2rem;
                color: var(--WHITE);
                margin-bottom: 0;
              }
              small{
                color: rgba(255,255,255,0.65);
                margin-bottom: 0.6rem;
                display: inline-block;
              }
              p{
                color: var(--WHITE);
              }

              .circle{
                background-color: black !important;
              }

              .left_cont_arrow, .right_cont_arrow{
                height: 0;
                width: 0;
                position: absolute;
                top: 28px;
                z-index: 1;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;                             
              }
              .left_cont_arrow{
                border-left: 15px solid var(--PRIMARY_COLOR);
                right: -15px;
              }
              .right_cont_arrow{
                left: -15px;
                border-right: 15px solid var(--PRIMARY_COLOR);
              }
              ul{
                padding-left: 0;
              }
              li{
                text-decoration: none;
                list-style: none;
              }
            }
          }
          .left_cont{
            left: 0;
            margin: 0;
            .circle{
              position: absolute;
              right: -10px;
              width: 20px;
              height: 20px;
              top: 48px;
              z-index: 9;
              border: 4px solid var(--PRIMARY_COLOR);
              border-radius: 50%;
              // background-color: var(--WHITE);
            }
          }
          .right_cont{
            left: 50%;
            margin: 0;
            .circle{
              position: absolute;
              left: -10px;
              width: 20px;
              height: 20px;
              top: 48px;
              z-index: 9;
              border: 4px solid var(--PRIMARY_COLOR);
              // background-color: var(--WHITE);
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  mat-card{
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    mat-card-title{
      margin-bottom: 1rem;
    }
    
  }
}



.swiper {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}