<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="breadcrumb with-bg with-border pt-10 pb-10 pl-20 pr-20">
    <a routerLink="/home" fxLayout="column" fxLayoutAlign="center center">
        <img src="/assets/images/home-icon.svg" />
    </a>
    <span>/</span>
    <a class="bold">Following</a>
</div>
<div class="basket-wrapper">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" class="form-row pt-20">
        <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100" class="form-group pb-20">
            <div class="following-box">
                <div fxLayout="column" fxLayoutAlign="center center" class="profile-icon">
                    <img src="/assets/images/profile-2.jpg" />
                </div>
                <h3 class="mat-h3 font-600 text-center">Cody Edwards</h3>
                <p class="doj text-center">Date of Joining: 20-01-2022</p>
                <div fxLayout="row" fxLayoutAlign="start center" class="pt-5 pb-5">
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="follower-tab">
                        <h2 class="mat-h2 font-600 mb-0">5</h2>
                        <p>Baskets</p>
                    </div>
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="follower-tab">
                        <h2 class="mat-h2 font-600 mb-0">25</h2>
                        <p>Followers</p>
                    </div>
                </div>
                <button class="unfollow-btn">Unfollow</button>
            </div>
        </div>
        <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100" class="form-group pb-20">
            <div class="following-box">
                <div fxLayout="column" fxLayoutAlign="center center" class="profile-icon">
                    <img src="/assets/images/profile-3.jpg" />
                </div>
                <h3 class="mat-h3 font-600 text-center">Cody Edwards</h3>
                <p class="doj text-center">Date of Joining: 20-01-2022</p>
                <div fxLayout="row" fxLayoutAlign="start center" class="pt-5 pb-5">
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="follower-tab">
                        <h2 class="mat-h2 font-600 mb-0">5</h2>
                        <p>Baskets</p>
                    </div>
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="follower-tab">
                        <h2 class="mat-h2 font-600 mb-0">25</h2>
                        <p>Followers</p>
                    </div>
                </div>
                <button class="unfollow-btn">Unfollow</button>
            </div>
        </div>
        <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100" class="form-group pb-20">
            <div class="following-box">
                <div fxLayout="column" fxLayoutAlign="center center" class="profile-icon">
                    <img src="/assets/images/profile-4.jpg" />
                </div>
                <h3 class="mat-h3 font-600 text-center">Cody Edwards</h3>
                <p class="doj text-center">Date of Joining: 20-01-2022</p>
                <div fxLayout="row" fxLayoutAlign="start center" class="pt-5 pb-5">
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="follower-tab">
                        <h2 class="mat-h2 font-600 mb-0">5</h2>
                        <p>Baskets</p>
                    </div>
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="follower-tab">
                        <h2 class="mat-h2 font-600 mb-0">25</h2>
                        <p>Followers</p>
                    </div>
                </div>
                <button class="unfollow-btn">Unfollow</button>
            </div>
        </div>
        <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100" class="form-group pb-20">
            <div class="following-box">
                <div fxLayout="column" fxLayoutAlign="center center" class="profile-icon">
                    <img src="/assets/images/profile-5.jpg" />
                </div>
                <h3 class="mat-h3 font-600 text-center">Cody Edwards</h3>
                <p class="doj text-center">Date of Joining: 20-01-2022</p>
                <div fxLayout="row" fxLayoutAlign="start center" class="pt-5 pb-5">
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="follower-tab">
                        <h2 class="mat-h2 font-600 mb-0">5</h2>
                        <p>Baskets</p>
                    </div>
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="follower-tab">
                        <h2 class="mat-h2 font-600 mb-0">25</h2>
                        <p>Followers</p>
                    </div>
                </div>
                <button class="unfollow-btn">Unfollow</button>
            </div>
        </div>
    </div>
</div>