<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="breadcrumb with-border pt-10 pb-10 pl-20 pr-20">
        <a routerLink="/" fxLayout="column" fxLayoutAlign="center center">
            <img src="/assets/images/home-icon.svg" />
        </a>
        <span>/</span>
        <a routerLink="/baskets" class="bold">Baskets</a>
        <span>/</span>
        <a class="bold">{{basket.name}} / Orders</a>
    </div>
    <div class="pl-20 pr-20">
        <!-- <div *ngIf="showSpinner" class="spinner-wrapper">
            <app-spinner></app-spinner>
        </div> -->
        <div class="modal-dialog">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms"
                class="trade-tabs brokerage-tabs" [selectedIndex]="getSelectedTab()">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                            <span>Pending Orders</span>
                        </span>
                    </ng-template>
                    <div mat-dialog-content class="no-padding-bottom">
                        <div class="main-content-card tableParent trading-table">
                            <table mat-table [dataSource]="pendingDataSource"  multiTemplateDataRows
                                class="collapsible-table">
                                <ng-container matColumnDef="ACTION">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element" class="text-center ">
                                        <mat-icon class="iconDark " aria-hidden="false" aria-label="Example add icon"
                                            fontIcon="add_circle"></mat-icon>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="account_id">
                                    <th mat-header-cell *matHeaderCellDef
                                        >
                                        Account Id
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.account_id }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="transaction_id">
                                    <th mat-header-cell *matHeaderCellDef
                                      >
                                        Transaction Id
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.transaction_id }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="transaction_type">
                                    <th mat-header-cell *matHeaderCellDef
                                        >
                                        Transaction Type
                                    </th>
                                    <td mat-cell *matCellDef="let element"
                                        [ngClass]="getChangeStyle(element.transaction_type)">{{ element.transaction_type
                                        }}</td>
                                </ng-container>

                                <ng-container matColumnDef="transaction_created_date">
                                    <th mat-header-cell *matHeaderCellDef
                                        >
                                        Order Date
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.transaction_created_date }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="order_status">
                                    <th mat-header-cell *matHeaderCellDef
                                        >
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let element"
                                        [ngClass]="getChangeStyle(element.order_status)">{{ element.order_status }}</td>
                                </ng-container>
                                <ng-container   matColumnDef="edit">
                                    <th mat-header-cell *matHeaderCellDef >

                                    </th>
                                    <td mat-cell *matCellDef="let element"
                                        >
                                        <div matTooltip="Your brokerage Account is disconnected so please re connect then edit icon is enable"
                                matTooltipClass="custom-tooltip"
                                [matTooltipDisabled]="!brokerageIsDisconnected">
                                        <button mat-icon-button  [disabled]="isEdit || brokerageIsDisconnected"(click)="confirmOrder(element)">
                                            <mat-icon aria-label="Edit">edit</mat-icon>
                                          </button>
                                          </div>
                                        </td>
                                </ng-container>

                                <ng-container matColumnDef="expandedDetail">
                                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">


                                        <div class="example-element-detail epandTableParent dFlex" [@detailExpand]="
                                      element == expandedElement ? 'expanded' : 'collapsed'
                                    ">
                                            <table mat-table [dataSource]="element.symbols" multiTemplateDataRows
                                                class="expanded-table">
                                                <ng-container matColumnDef="symbol">
                                                    <th mat-header-cell *matHeaderCellDef>Symbol</th>
                                                    <td mat-cell *matCellDef="let element"><a>{{ element.symbol }}</a>

                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="filled_qty">
                                                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                                                    <td mat-cell *matCellDef="let element" >
                                                        {{ element.request_qty }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="order_id">
                                                    <th mat-header-cell *matHeaderCellDef>Order Id
                                                    <td mat-cell *matCellDef="let element">
                                                        {{ element.order_id }}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="price_at_request">
                                                    <th mat-header-cell *matHeaderCellDef>Price</th>
                                                    <td mat-cell *matCellDef="let element" class="right-align-cell">
                                                        {{ element.price_at_request | currency:'USD':'symbol':'1.2-2' }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="transaction_type">
                                                    <th mat-header-cell *matHeaderCellDef
                                                        >
                                                        Order Type
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"
                                                        [ngClass]="getChangeStyle(element.transaction_type)">{{ element.transaction_type
                                                        }}</td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="columnsToDisplayInside"></tr>
                                                <tr mat-row *matRowDef="let row; columns: columnsToDisplayInside"></tr>
                                            </table>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let element; columns: columnsToDisplay"
                                    class="example-element-row"
                                    [class.example-expanded-row]="expandedElement === element" (click)="
                                  expandedElement = expandedElement === element ? null : element
                                "></tr>
                                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                    class="example-detail-row inner_row_h0"></tr>
                            </table>
                            <mat-paginator #pendingPaginator [pageSizeOptions]="pendingOption" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                            <span>Executed Orders</span>
                        </span>
                    </ng-template>
                    <div mat-dialog-content class="no-padding-bottom">
                        <!-- <div class="center-text" *ngIf="confirmOrders.length<=0">
                            <p>No placed orders. </p>
                          </div> -->
                        <div class="main-content-card tableParent trading-table">
                            <table  mat-table matSort [dataSource]="dataSource"  multiTemplateDataRows
                                class="collapsible-table"  (matSortChange)="sortData($event)" >
                                <ng-container matColumnDef="ACTION">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element" class="text-center ">
                                        <mat-icon class="iconDark " aria-hidden="false" aria-label="Example add icon"
                                            fontIcon="add_circle"></mat-icon>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="account_id">
                                    <th mat-header-cell *matHeaderCellDef >
                                        Account Id
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.account_id }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="transaction_id">
                                    <th mat-header-cell *matHeaderCellDef
                                        >
                                        Transaction Id
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.transaction_id }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="transaction_type">
                                    <th mat-header-cell *matHeaderCellDef
                                        >
                                        Transaction Type
                                    </th>
                                    <td mat-cell *matCellDef="let element"
                                        [ngClass]="getChangeStyle(element.transaction_type)">{{ element.transaction_type
                                        }}</td>
                                </ng-container>

                                <ng-container matColumnDef="transaction_execution_date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                       >
                                        Order Date
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.transaction_execution_date }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="order_status">
                                    <th mat-header-cell *matHeaderCellDef
                                       >
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let element"
                                        [ngClass]="getChangeStyle(element.order_status)">{{ element.order_status }}</td>
                                </ng-container>
                                <!-- <ng-container matColumnDef="edit">
                                    <th mat-header-cell *matHeaderCellDef >
                                    </th>
                                    <td mat-cell *matCellDef="let element"
                                        ><button mat-icon-button [disabled]="isEdit" (click)="confirmOrder(element)" >
                                            <mat-icon aria-label="Edit">edit</mat-icon>
                                          </button></td>
                                </ng-container> -->
                                <ng-container matColumnDef="expandedDetail">
                                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">


                                        <div class="example-element-detail epandTableParent dFlex" [@detailExpand]="
                                      element == expandedElement ? 'expanded' : 'collapsed'
                                    ">
                                            <table mat-table [dataSource]="element.symbols" multiTemplateDataRows
                                                class="expanded-table">
                                                <ng-container matColumnDef="symbol">
                                                    <th mat-header-cell *matHeaderCellDef>Symbol</th>
                                                    <td mat-cell *matCellDef="let ele"><a>{{ ele.symbol }}</a>

                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="filled_qty">
                                                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                                                    <td mat-cell *matCellDef="let ele">
                                                        {{ element.order_status.toLowerCase() === 'confirmed'?ele.filled_qty :ele.request_qty }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="order_id">
                                                    <th mat-header-cell *matHeaderCellDef>Order Id</th>
                                                    <td mat-cell *matCellDef="let ele">
                                                        {{ ele.order_id }}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="price_at_request">
                                                    <th mat-header-cell *matHeaderCellDef>Price</th>
                                                    <td mat-cell *matCellDef="let ele" class="right-align-cell">
                                                        {{ (element.order_status.toLowerCase() === 'confirmed' ? ele.filled_price : ele.price_at_request) | currency:'USD':'symbol':'1.2-2' }}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="transaction_type">
                                                    <th mat-header-cell *matHeaderCellDef
                                                        >
                                                        Order Type
                                                    </th>
                                                    <td mat-cell *matCellDef="let ele"
                                                        [ngClass]="getChangeStyle(ele.transaction_type)">{{ ele.transaction_type
                                                        }}</td>
                                                </ng-container>

                                                <ng-container matColumnDef="message">
                                                    <th mat-header-cell *matHeaderCellDef
                                                        >
                                                        Remarks
                                                    </th>
                                                    <td mat-cell *matCellDef="let ele"
                                                        >{{ ele.message
                                                        }}</td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="columnsToDisplayConfirmInside"></tr>
                                                <tr mat-row *matRowDef="let row; columns: columnsToDisplayConfirmInside"></tr>
                                            </table>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="columnsToDisplayConfirm"></tr>
                                <tr mat-row *matRowDef="let ele; columns: columnsToDisplayConfirm"
                                    class="example-element-row"
                                    [class.example-expanded-row]="expandedElement === ele" (click)="
                                  expandedElement = expandedElement === ele ? null : ele
                                "></tr>
                                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                    class="example-detail-row inner_row_h0"></tr>
                            </table>
                            <mat-paginator #paginator [pageSizeOptions]="option" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <!-- <mat-tab>
                    <ng-template mat-tab-label>
                        <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                            <span>Positions</span>
                        </span>
                    </ng-template>
                    <div mat-dialog-content class="no-padding-bottom">

                        <div class="trading-table height-auto with-padding table-scroll">
                            <table mat-table [dataSource]="dataSourcePosition">
                                <ng-container matColumnDef="symbol">
                                    <th mat-header-cell *matHeaderCellDef> Ticker Symbol </th>
                                    <td mat-cell *matCellDef="let element"> <span
                                            style="color: #0b63e5;;">{{element.Symbol}}</span> </td>
                                </ng-container>

                                <ng-container matColumnDef="Quantity">
                                    <th mat-header-cell *matHeaderCellDef class="center-align-cell"> Shares </th>
                                    <td mat-cell *matCellDef="let element" class="center-align-cell">
                                        {{element.Quantity}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Last">
                                    <th mat-header-cell *matHeaderCellDef class="center-align-cell"> Price </th>
                                    <td mat-cell *matCellDef="let element" class="right-align-cell"> {{ element.Last |
                                        currency:'USD':'symbol':'1.2-2' }} </td>
                                </ng-container>

                                <ng-container matColumnDef="TotalCost">
                                    <th mat-header-cell *matHeaderCellDef class="center-align-cell"> Invest Account
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="right-align-cell"> {{
                                        element.TotalCost | currency:'USD':'symbol':'1.2-2' }} </td>
                                </ng-container>
                                <ng-container matColumnDef="MarketValue">
                                    <th mat-header-cell *matHeaderCellDef class="center-align-cell"> Market Value </th>
                                    <td mat-cell *matCellDef="let element" class="right-align-cell">
                                        {{element.MarketValue |
                                        currency:'USD':'symbol':'1.2-2'}}</td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsForPositions"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsForPositions;"></tr>
                            </table>
                        </div>
                    </div>
                </mat-tab> -->
            </mat-tab-group>


        </div>
    </div>
</div>