::ng-deep .brokerage-tabs {
    .mat-mdc-tab-body-wrapper, .mat-mdc-tab-body.mat-mdc-tab-body-active, .mat-mdc-tab-body-content {
        overflow: hidden;
    }
}

.spinner-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(77, 73, 73, 0.5);
    z-index: 998;
    app-spinner {
        width: 6rem;
        height: 6rem;
    }
}

.center-text {
    padding-top: 100px;
    text-align: center;
    font-weight: 600;

  }