<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="breadcrumb with-bg with-border pt-10 pb-10 pl-20 pr-20">
    <a routerLink="/home" fxLayout="column" fxLayoutAlign="center center">
        <img src="/assets/images/home-icon.svg" />
    </a>
    <span>/</span>
    <a class="bold">Brokerage</a>
</div>
<div class="main_wrapper brokerage_module bg-body text-dark">
    <!-- <div *ngIf="showSpinner" class="spinner-wrapper">
        <app-spinner></app-spinner>
      </div> -->
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms" class="trade-tabs brokerage-tabs">
        <mat-tab>
            <ng-template mat-tab-label>
                <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <span>Brokerage</span>
                </span>
            </ng-template>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="mt-20 pt-10" *ngFor="let broker of brokerMaster; let i= index">
              <div fxFlex="20" fxFlex.md="30" fxFlex.sm="50" fxFlex.xs>
                <img src="{{broker.logo_url}}" style="width: 220px;" />
              </div>
              <button [disabled]="broker.is_connected || broker.broker_code == 'at'"  mat-flat-button  class="primary-btn custom-button-disabled" (click)="connectDialog(broker.broker_code)">
                Connect
              </button>
              <button *ngIf="broker.is_connected && broker.broker_code != 'at'"  mat-flat-button  class="primary-btn custom-button-disabled" (click)="disConnect(i)">
                Disconnect
              </button>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <span>Accounts</span>
                </span>
            </ng-template>
            <div class="center-text" *ngIf="false">
                <p>Please connect to at least one brokerage. </p>
              </div>
            <form class="example-form" *ngIf="true">

            <div fxLayout="row" class="mt-20">

                <mat-form-field appearance="outline" fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Select Brokerage</mat-label>
                    <mat-select [(value)]="selectedBroker" [formControl]="brokerage_type">
                        <span *ngFor="let broker of brokerMaster; let i= index" >
                            <mat-option *ngIf="broker.is_connected" [value]="i" (click)="selectBroker()" >{{broker.name}}</mat-option>
                        </span>

                    </mat-select>
                </mat-form-field>
            </div>
            </form>
            <!-- <ngx-spinner type = "ball-square-clockwise-spin" [fullScreen] = "true"></ngx-spinner>
            <mat-spinner *ngIf="showSpinner" diameter="50" color="accent" mode="indeterminate"></mat-spinner> -->

          <app-table [columnDetails]="columnDetails" [dataCallback]="getAccounts" [dataCallbackOptionalParameter]="" [apiDataKey]="'Accounts'" [mainComponent]="this"></app-table>

        </mat-tab>
    </mat-tab-group>
</div>
<div *ngIf="showSpinner" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
