<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="breadcrumb with-bg with-border pt-10 pb-10 pl-20 pr-20">
    <a routerLink="/" fxLayout="column" fxLayoutAlign="center center">
        <img src="/assets/images/home-icon.svg" />
    </a>
    <span>/</span>
    <a routerLink="/baskets" class="bold">Baskets</a>
    <span>/</span>
    <a class="bold">Subscription</a>
</div>
<div fxLayout="column" class="main_wrapper basket_market_module bg-body text-dark">
<div fxLayout="column" class="pt-10 pl-20 pr-20">
    <h1 class="mat-h1 font-700">Subscription</h1>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px" class="mt-20" *ngIf="!basket.is_owner">
        <span >Subscribe to this basket</span>
        <span>
            <mat-slide-toggle color="primary" (change)="updateSubscription()" [(ngModel)]="basket.is_subscribed"> {{ basket.is_subscribed ? 'ON' :'OFF'  }} </mat-slide-toggle>
        </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px" class="mt-20" *ngIf="basket.is_owner">
        <span >Subscribe to this basket</span>
        <span>
            <mat-slide-toggle color="primary" (change)="updateSubscription()" [disabled]="true" [(ngModel)]="basket.is_subscribed"> {{basket.is_subscribed ? 'ON': 'OFF' }} </mat-slide-toggle>
        </span>
    </div>
</div>
</div>