<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="breadcrumb with-bg with-border pt-10 pb-10 pl-20 pr-20">
    <a routerLink="/" fxLayout="column" fxLayoutAlign="center center">
        <img src="/assets/images/home-icon.svg" />
    </a>
    <span>/</span>
    <a routerLink="/baskets" class="bold">Baskets</a>
    <span>/</span>
    <a class="bold">Account</a>
</div>
<div class="main_wrapper account_module bg-body text-dark">
<div fxLayout="column" class="pt-10 pl-20 pr-20 pb-20">
    <div fxLayout="row" fxLayoutAlign="start center" class="pb-15">
        <h1 fxFlex class="mat-h1 font-700" style="margin: 0px">Linked Account</h1>
        <button mat-flat-button class="primary-btn" (click)="addAccount()" [disabled]="dataSource.data.length > 0">Link Account</button>
    </div>
    <div class="trading-table height-auto table-scroll">
        <table mat-table [dataSource]="dataSource">

            <!-- Checkbox Column
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null" color="primary"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" color="primary"
                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            -->

            <ng-container matColumnDef="account_number">
                <th mat-header-cell *matHeaderCellDef> Account Number </th>
                <td mat-cell *matCellDef="let element">
                    {{element.account_number}}
                </td>
            </ng-container>

            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Date Linked </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.timestamp | date}}</td>
            </ng-container>

            <ng-container matColumnDef="linked_basket_count">
                <th mat-header-cell *matHeaderCellDef class="text-center"> No. of Baskets Linked </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.linked_basket_count}} </td>
            </ng-container>

            <ng-container matColumnDef="broker_name">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Brokerage Name </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{ element.broker_name }} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <a (click)="removeAccount(element)">Unlink Account</a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
        </table>
    </div>
</div>
</div>