<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="breadcrumb with-bg with-border pt-10 pb-10 pl-20 pr-20">
    <a routerLink="/home" fxLayout="column" fxLayoutAlign="center center">
        <img src="/assets/images/home-icon.svg" />
    </a>
    <span>/</span>
    <a routerLink="/my-basket" class="bold">Baskets</a>
    <span>/</span>
    <a class="bold">Owner Profile</a>
</div>
<div class="owner-header-bg"></div>
<div class="basket-wrapper">
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="owner-header form-row">
        <div fxFlex="initial" class="form-group">
            <div fxLayout="column" fxLayoutAlign="center center" class="owner-img">
                <img src="assets/images/profile-pic.jpg" />
            </div>
        </div>
        <div fxFlex fxFlex.xs="100" fxLayout="row wrap" fxLayoutAlign="start center" class="form-group pt-xs-10">
            <div fxFlex>
                <h3 class="mat-h3 font-600 mb-0">Andrie Jacsion</h3>
                <p>Trader Expert</p>
            </div>
            <div fxLayout="column" class="follower-tab">
                <h2 class="mat-h2 font-600 mb-0">126</h2>
                <p>Followers</p>
            </div>
            <div fxLayout="column" class="follower-tab">
                <h2 class="mat-h2 font-600 mb-0">25</h2>
                <p>Following</p>
            </div>
        </div>
        <div fxFlex="initial" fxFlex.xs="100" fxLayout.xs="row" fxLayoutAlign.xs="end center" class="form-group pt-xs-15">
            <button mat-flat-button color="primary">
                Follow
            </button>
        </div>
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms" class="trade-tabs">
        <mat-tab>
            <ng-template mat-tab-label>
                <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <span>Baskets</span>
                    <span class="count">4</span>
                </span>
            </ng-template>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" class="form-row mt-20">
                <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100" class="form-group">
                    <mat-card class="basket-card trade-down">
                        <div class="basket-header">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                                <h2 class="mat-h2">Basket One</h2>
                            </div>
                            <p class="desc">
                                In publishing and graphic design,
                                Lorem ipsum is a placeholde...
                            </p>
                        </div>
                        <div class="basket-content" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="trade-icon"></mat-icon>
                                <h2 class="mat-h2 mb-0">-21.4%</h2>
                                <span class="price">$12.75</span>
                            </div>
                            <span fxFlex="initial" class="acc-no">A/C 588746362</span>
                        </div>
                        <div class="basket-footer" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                <div class="invested">
                                    <p>Invested</p>
                                    <h3 class="mat-h3">$36.02k</h3>
                                </div>
                                <div class="invested market">
                                    <p>Market</p>
                                    <h3 class="mat-h3">$36.02k</h3>
                                </div>
                            </div>
                            <div fxFlex="initial" fxLayout="column" fxLayoutGap="10px">
                                <a fxFlex="initial" class="public-chip subscribe">Subscribe</a>
                                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                                    <a class="like-icon">
                                        <mat-icon>favorite</mat-icon>
                                    </a>
                                    <a class="like-icon">
                                        <mat-icon>share</mat-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="basket-profile" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column" fxLayoutAlign="center center" class="profile-icon">
                                <img src="assets/images/basket-profile-icon.png" />
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <div class="profile-info" fxLayout="column" fxLayoutAlign="center center">
                                    <p>Stocks</p>
                                    <h2 class="mat-h2">101</h2>
                                </div>
                                <div class="profile-info accounts" fxLayout="column" fxLayoutAlign="center center">
                                    <p>Accounts</p>
                                    <h2 class="mat-h2">101</h2>
                                </div>
                                <div class="profile-info" fxLayout="column" fxLayoutAlign="center center">
                                    <p>Followers</p>
                                    <h2 class="mat-h2">101</h2>
                                </div>
                            </div>
                        </div>
                        <button mat-icon-button [matMenuTriggerFor]="menu" class="more-btn"
                            (click)="$event.stopPropagation()">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>
                                <mat-icon>dialpad</mat-icon>
                                <span>Redial</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>notifications_off</mat-icon>
                                <span>Disable alerts</span>
                            </button>
                        </mat-menu>
                    </mat-card>
                </div>
                <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100" class="form-group">
                    <mat-card class="basket-card trade-up">
                        <div class="basket-header">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                                <h2 class="mat-h2">Basket One</h2>
                            </div>
                            <p class="desc">
                                In publishing and graphic design,
                                Lorem ipsum is a placeholde...
                            </p>
                        </div>
                        <div class="basket-content" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="trade-icon"></mat-icon>
                                <h2 class="mat-h2 mb-0">-21.4%</h2>
                                <span class="price">$12.75</span>
                            </div>
                            <span fxFlex="initial" class="acc-no">A/C 588746362</span>
                        </div>
                        <div class="basket-footer" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                <div class="invested">
                                    <p>Invested</p>
                                    <h3 class="mat-h3">$36.02k</h3>
                                </div>
                                <div class="invested market">
                                    <p>Market</p>
                                    <h3 class="mat-h3">$36.02k</h3>
                                </div>
                            </div>
                            <div fxFlex="initial" fxLayout="column" fxLayoutGap="10px">
                                <a fxFlex="initial" class="public-chip unsubscribe">Unsubscribe</a>
                                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                                    <a class="like-icon">
                                        <mat-icon>favorite</mat-icon>
                                    </a>
                                    <a class="like-icon">
                                        <mat-icon>share</mat-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="basket-profile" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column" fxLayoutAlign="center center" class="profile-icon">
                                <img src="assets/images/basket-profile-icon.png" />
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <div class="profile-info" fxLayout="column" fxLayoutAlign="center center">
                                    <p>Stocks</p>
                                    <h2 class="mat-h2">101</h2>
                                </div>
                                <div class="profile-info accounts" fxLayout="column" fxLayoutAlign="center center">
                                    <p>Accounts</p>
                                    <h2 class="mat-h2">101</h2>
                                </div>
                                <div class="profile-info" fxLayout="column" fxLayoutAlign="center center">
                                    <p>Followers</p>
                                    <h2 class="mat-h2">101</h2>
                                </div>
                            </div>
                        </div>
                        <button mat-icon-button [matMenuTriggerFor]="menu" class="more-btn"
                            (click)="$event.stopPropagation()">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>
                                <mat-icon>dialpad</mat-icon>
                                <span>Redial</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>notifications_off</mat-icon>
                                <span>Disable alerts</span>
                            </button>
                        </mat-menu>
                    </mat-card>
                </div>
                <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100" class="form-group">
                    <mat-card class="basket-card trade-stable">
                        <div class="basket-header">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                                <h2 class="mat-h2">Basket One</h2>
                            </div>
                            <p class="desc">
                                In publishing and graphic design,
                                Lorem ipsum is a placeholde...
                            </p>
                        </div>
                        <div class="basket-content" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="trade-icon"></mat-icon>
                                <h2 class="mat-h2 mb-0">-21.4%</h2>
                                <span class="price">$12.75</span>
                            </div>
                            <span fxFlex="initial" class="acc-no">A/C 588746362</span>
                        </div>
                        <div class="basket-footer" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                <div class="invested">
                                    <p>Invested</p>
                                    <h3 class="mat-h3">$36.02k</h3>
                                </div>
                                <div class="invested market">
                                    <p>Market</p>
                                    <h3 class="mat-h3">$36.02k</h3>
                                </div>
                            </div>
                            <div fxFlex="initial" fxLayout="column" fxLayoutGap="10px">
                                <a fxFlex="initial" class="public-chip subscribe">Subscribe</a>
                                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                                    <a class="like-icon">
                                        <mat-icon>favorite</mat-icon>
                                    </a>
                                    <a class="like-icon">
                                        <mat-icon>share</mat-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="basket-profile" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column" fxLayoutAlign="center center" class="profile-icon">
                                <img src="assets/images/basket-profile-icon.png" />
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <div class="profile-info" fxLayout="column" fxLayoutAlign="center center">
                                    <p>Stocks</p>
                                    <h2 class="mat-h2">101</h2>
                                </div>
                                <div class="profile-info accounts" fxLayout="column" fxLayoutAlign="center center">
                                    <p>Accounts</p>
                                    <h2 class="mat-h2">101</h2>
                                </div>
                                <div class="profile-info" fxLayout="column" fxLayoutAlign="center center">
                                    <p>Followers</p>
                                    <h2 class="mat-h2">101</h2>
                                </div>
                            </div>
                        </div>
                        <button mat-icon-button [matMenuTriggerFor]="menu" class="more-btn"
                            (click)="$event.stopPropagation()">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>
                                <mat-icon>dialpad</mat-icon>
                                <span>Redial</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>notifications_off</mat-icon>
                                <span>Disable alerts</span>
                            </button>
                        </mat-menu>
                    </mat-card>
                </div>
                <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100" class="form-group">
                    <mat-card class="basket-card trade-up">
                        <div class="basket-header">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                                <h2 class="mat-h2">Basket One</h2>
                            </div>
                            <p class="desc">
                                In publishing and graphic design,
                                Lorem ipsum is a placeholde...
                            </p>
                        </div>
                        <div class="basket-content" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="trade-icon"></mat-icon>
                                <h2 class="mat-h2 mb-0">-21.4%</h2>
                                <span class="price">$12.75</span>
                            </div>
                            <span fxFlex="initial" class="acc-no">A/C 588746362</span>
                        </div>
                        <div class="basket-footer" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                <div class="invested">
                                    <p>Invested</p>
                                    <h3 class="mat-h3">$36.02k</h3>
                                </div>
                                <div class="invested market">
                                    <p>Market</p>
                                    <h3 class="mat-h3">$36.02k</h3>
                                </div>
                            </div>
                            <div fxFlex="initial" fxLayout="column" fxLayoutGap="10px">
                                <a fxFlex="initial" class="public-chip unsubscribe">Unsubscribe</a>
                                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                                    <a class="like-icon">
                                        <mat-icon>favorite</mat-icon>
                                    </a>
                                    <a class="like-icon">
                                        <mat-icon>share</mat-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="basket-profile" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column" fxLayoutAlign="center center" class="profile-icon">
                                <img src="assets/images/basket-profile-icon.png" />
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <div class="profile-info" fxLayout="column" fxLayoutAlign="center center">
                                    <p>Stocks</p>
                                    <h2 class="mat-h2">101</h2>
                                </div>
                                <div class="profile-info accounts" fxLayout="column" fxLayoutAlign="center center">
                                    <p>Accounts</p>
                                    <h2 class="mat-h2">101</h2>
                                </div>
                                <div class="profile-info" fxLayout="column" fxLayoutAlign="center center">
                                    <p>Followers</p>
                                    <h2 class="mat-h2">101</h2>
                                </div>
                            </div>
                        </div>
                        <button mat-icon-button [matMenuTriggerFor]="menu" class="more-btn"
                            (click)="$event.stopPropagation()">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>
                                <mat-icon>dialpad</mat-icon>
                                <span>Redial</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>notifications_off</mat-icon>
                                <span>Disable alerts</span>
                            </button>
                        </mat-menu>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>