:host {
    display: block;
    height: 100%;
}

.login-wrapper {
    width: 500px;

    header {
        .mat-h2 {
            margin-bottom: 0px;
        }

        .social-icons {
            .mat-mdc-icon-button {
                background: var(--PRIMARY_COLOR);
                height: 30px;
                width: 30px;
                padding: 0px;
                line-height: 32px;
                box-shadow: 0px 3px 8px rgb(11 99 229 / 20%);

                img {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
    .h-line {
        position: relative;
        margin: 20px 0;
        height: 30px;
        width: 100%;
    }

    .h-line::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #eee;
        top: 50%;
        margin-top: -1px;
    }

    .h-line::before {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: #333;
        position: absolute;
        border-radius: 54px;
        height: 28px;
        width: 40px;
        left: 50%;
        margin-left: -40px;
        text-align: center;
        z-index: 1;
        font-weight: 600;
        font-size: 16px;
    }

    .login-btn {
        margin: 15px 0 20px 0;
        min-width: 120px;
    }

    .forgot-link {
        font-size: 12px;
        color: var(--PRIMARY_COLOR);
    }

    .signup-link {
        font-size: 12px;
        font-weight: 600;

        a {
            color: var(--PRIMARY_COLOR);
        }
    }
}

@media screen and (max-width: 599px) {
    .login-wrapper {
        width: 100%;
        padding: 20px;
    }
}