<div class="modal-dialog slide-panel panel-lg">
    <div fxLayout="row" fxLayoutAlign="start center" class="dialog-header">
        <h2 fxFlex class="mat-h2">Amazon</h2>
        <button mat-icon-button mat-dialog-close class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>

 
        <div mat-dialog-content  style="height: fit-content;">
            <div class="outer-div">

                <div style="margin-right: 10px;">
                    <h3 style="text-align: center;">Min Chart Widget</h3>
                    <div  #tradingMinChartWidget ></div>
            
                </div>
                <div >
                    <h3 style="text-align: center;">Technical Analysis Widget</h3>
                    <div  #TradingTechnicalAnalysisWidget></div>
                
                </div>
                </div>
            <div class="outer-div">
    
                <div style="margin-right: 10px;">
                    <h3 style="text-align: center;">Fundamental Data Widget</h3>
                    <div  #TradingFundamentalDataWidget ></div>
                
                </div>
                <div >
                    <h3 style="text-align: center;">Company Profile Widget</h3>
                    <p id="four"  #TradingCompanyProfileWidget></p>
                
                </div>
        </div>
</div>