<div class="modal-dialog">
    <div fxLayout="row" fxLayoutAlign="start center" class="dialog-header">
        <h2 fxFlex class="mat-h2">{{data.name}}</h2>
        <button mat-icon-button mat-dialog-close class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <div fxLayout="row wrap" class="form-row">
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="form-group pb-20">
                <h3 class="mat-h3 text-center font-600">Min Chart Widget</h3>
                <div #tradingMinChartWidget ></div>
            </div>
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="form-group pb-20">
                <h3 class="mat-h3 text-center font-600">Technical Analysis Widget</h3>
                <div  #TradingTechnicalAnalysisWidget></div>
            </div>
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="form-group pb-20">
                <h3 class="mat-h3 text-center font-600">Fundamental Data Widget</h3>
                <div  #TradingFundamentalDataWidget ></div>
            </div>
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="form-group pb-20">
                <h3 class="mat-h3 text-center font-600">Company Profile Widget</h3>
                <p id="four"  #TradingCompanyProfileWidget></p>
            </div>
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="form-group pb-20">
                <h3 class="mat-h3 text-center font-600">Symbol Info Widget</h3>
                <div  #tradingSymbolInfoWidget ></div>
            </div>
        </div>
    </div>
</div>